{{#with artist}}
<section class="artist-profile">
  <div class="avatar">
    <img class="avatar-img" src={{avatar}} alt="avatar">
  </div>
  <div>
    <h3>{{name}}</h3>
    <p>{{city}}, {{country}}</p>
    <h4>About me:</h4>
    <p>{{about}}</p>
  </div>
  <a href="/artist/edit">Edit profile</a>
  <a href="/auth/logout">Log out</a>
</section>
{{/with}}

<section class="artist-profile-products">
  <h3>Your products:</h3>
  <a href="/add/product">Add product</a>
  {{#each productList}}
  {{!-- {{#each images}} --}}
  <a href="/show/{{_id}}/product"><img src={{images.[0]}} alt="product-image"></a>
  {{!-- {{/each}} --}}
  <a href="/show/{{_id}}/product">
    <h4>{{name}}</h4>
  </a>

  <a href="/edit/{{_id}}/product">Edit</a>
  <a href="/delete/{{_id}}/product">Delete</a>
  <br>
  {{/each}}

</section>