{{#with selectedProduct}}
<h2>Edit Product</h2>

<form action="/edit/{{_id}}/product" method="POST" enctype="multipart/form-data">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" placeholder="Add the name of your product name/service here." value={{name}}>

  <br><br>

  <label for="price">Price:</label>
  <input type="text" id="price" name="price" placeholder="Add the price of your product name/service here."
    value={{price}}>

  <br><br>

{{/with}}

  <label for="availability">Availability:</label>
  <select name="availability" id="availability">
      {{{availabilityOptions}}}
  </select>

  <br><br>

  <label for="category">Category:</label>
  <select name="category" id="availability">
      {{{categoryOptions}}}
  </select>

  <br><br>
  
{{#with selectedProduct}}

  <label for="description">Description:</label>
  <textarea name="description" id="description" cols="30" rows="8"
    placeholder="Describe your product/service here">{{description}}</textarea>

  <br><br>

  <label for="images">Add images:</label>
  <input type="file" multiple='multiple' name="images" id="images" value={{images}}/>


  <br><br>
  <button type="submit">Save changes</button>
</form>

{{/with}}