<section class="product-view-wrapper">
    {{log isOwner}}
    {{#if isOwner}}
    {{#with foundProduct}}
    <div class="btn-wrap">
        <a class="add-btn" href="/add/product">Add more Products</a>
    </div>
    {{/with}}
    {{/if}}
    <div class="product-details-container">
        <div class="image-container">
            {{#with foundProduct}}
            {{#each images}}
            <img src={{this}} alt="">
            {{/each}}
        </div>
        <div class="product-info-container">
            <div class="product-wrap">
                {{#each owner}}
                <div class="artist-details">
                    {{log "is this the owner" isOwner.isOwner}}
                    <a href="/artist/show/{{_id}}">
                        <span class="artist-name">{{name}}</span>
                    </a>
                    <a class="contact-artist" href="mailto:{{email}}">Contact Artist</a>
                </div>
                {{/each}}
                <div class="heading">
                    <h2>{{name}}</h2>
                    {{/with}}
                    <h3><strong>{{{price}}}</strong></h3>
                </div>
                {{#with foundProduct}}
                <p class="availability">{{availability}}</p>
                {{!-- <div class="product-wrap"> --}}
                <div class="bottom-product-card">
                    <div class="description">
                        <h4>Description:</h4>
                        <p><i>{{description}}</i></p>
                    </div>
                    {{/with}}
                    {{#if isOwner}}
                    {{#with foundProduct}}
                    <div class="product-links">
                        <a class="edit-product-btn" href="/edit/{{_id}}/product">Edit</a>
                        <a class="delete-product-btn" href="/delete/{{_id}}/product">Delete</a>
                    </div>
                    {{/with}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>